.full-body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-container {
    height: 50vh;
    width: 50%;
    margin: 0px 0px;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.search-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    width: 50%;
    margin-left: -20px;
    padding-left: 10px;
    margin: 15px 0;
}
.add-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-buttons > button {
    background-color: black;
    border: 1px solid yellow;
    color: yellow;
    margin: 25px;
    padding: 5px;
}

.add-buttons > button:hover {
    opacity: .50;
}

#light-button {
    background-color: rgb(1, 1, 85);
    border: .5px solid blue;
}

#dark-button {
    background-color: rgb(59, 0, 0);
    border: .5px solid red;
}


.span {
    color: yellow;
    font-size: 20px;

}

.list {
    width: 40%;
    height: 5vh;
}
