.header-container {
    height: 15vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 35px 0;
}

.title-container {
    color: yellow;
    padding: 35px;
    border: 1px solid black;
    font-size: 45px;
}

.dark-light-title {
    font-size: 50px;
    border: 2px dashed yellow;
    padding: 15px;
    color: yellow;
  }

#light-title {
    background-color: rgba(0, 0, 97, 0.5);
}

#dark-title {
    background-color: rgba(97, 0, 0, 0.5);
}