.full-body {
  background-color: rgb(185, 238, 185);
}

.large-container {
  background-color: rgba(0, 0, 255, 0.192);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-container{
  width: 50%;
  background-color: rgb(119, 116, 116);
  }

.right-container {
  background-color: aqua;
  width: 50%;
  height: 70.09vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

